body{
	background-image: url("images/news-2.jpg");
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
}
html{
	height: 100%;
}
.main{
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	height: 100%;
}

.main div{
	display: flex;
	flex-direction: column;
	width: 32%;
	min-width: 300px;
	margin: 5px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
}

.main .news{
	background-color: #637e8f78;
}
.main .news:hover{
	color: white;
	background-color: #637e8ff0;
}

.img{
	height: 150px;
	width: 100px;
	background-position: center;
	background-size: cover;
}

.author{
	margin-bottom: 0px;
}
.head-detail p:nth-child(1){
	margin: 0px;
}
button{
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    cursor: pointer;
    padding: 5px;
}
@media only screen and (max-width: 965px) {
    .main div {
        width: 48%;
    }
    .img{
    	height: 250px;
    }
}
@media only screen and (max-width: 655px) {
    .main div {
        width: 100%;
    }
    .img{
    	height: 250px;
    }
}